.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(94, 94, 94);
    text-align: center;
    color: white;
}

.rodape{
    background-color: rgb(94, 94, 94);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: white;
}

.foto{
    width: 250px;
    height: 320px;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 4%;
}

main{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 8%;
}

body{
    background-color: rgb(233, 233, 228);
}

.accordion{
    margin-bottom: 20px;
}

main{
    margin-bottom: 10%;
}