body {
    background-color: rgb(242, 253, 173);
}

.container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 97vh;
}

#gato{
    border-radius: 50%;
    width: 100px;
    border: solid 10px rgb(148, 110, 22);
}

#cavalo{
    border-radius: 50%;
    width: 100px;
    border: solid 10px rgb(148, 110, 22);
}

#camelo{
    border-radius: 50%;
    width: 100px;
    border: solid 10px rgb(148, 110, 22);
}