body {
    background-color: rgb(242, 253, 173);
}

.container{
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

#gato{
    border-radius: 50%;
    border: solid 25px rgb(148, 110, 22);
}

#cavalo{
    border-radius: 50%;
    width: 250px;
    border: solid 25px rgb(148, 110, 22);
}