body {
    background-color: rgb(255, 254, 199);
}

img{
    border-radius: 50%;
    width: 150px;
    border: solid 15px rgb(76, 139, 212);
}


.fase1{
    display: flex;
    justify-content: flex-end;
}

.fase2{
    display: flex;
    justify-content: center;
}

.fase3{
    display: flex;
    justify-content: space-around;
}

.fase4{
    display: flex;
    justify-content: space-between;
}

.fase5{
    display: flex;
    align-items: flex-end;
    height: 97vh;
}

.fase6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.fase7{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 97vh;
}

.fase8{
    display: flex;
    flex-direction: row-reverse;
}

.fase9{
    display: flex;
    flex-direction: column;
}

.fase10{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.fase11{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 97vh;
}

.fase12{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 97vh;
}

.fase13{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    height: 97vh;
}

.fase14{
    display: flex;
    order: 2;
}

.fase15{
    display: flex;
    order: 1;
}

.fase15 .cavalo{
    order: 1;
}

.fase15 .gato{
    order: 2;
}

.fase16{
    display: flex;
    align-items: flex-start;
    height: 97vh;
}

.fase16 .cavalo{
    align-self: flex-end;
}

.fase17{
    display: flex;
    align-items: flex-start;
    height: 97vh;
}

.fase17 .cavalo{
    align-self: flex-end;
    order: 2;
}

.fase18{
    display: flex;
    flex-wrap: wrap;
}

.fase19{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 97vh;
}

.fase20{
    display: flex;
    flex-flow: column wrap;
    height: 97vh;
}

.fase21{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.fase22{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 97vh;
}

.fase23{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column-reverse;
    align-content: center;
    height: 97vh;
}

.fase24{
    display: flex;
    flex-flow: column-reverse wrap-reverse;
    align-content: space-between;
    justify-content: center;
    height: 97vh;
}